.Sample {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.Sample * {
    width: 100%;
    color: var(--contr_base);

}
.prodName {
    width: fit-content;
    margin-top: 30px;
}
.Img {
    grid-area: 1 / 1 / 5 / 3;
    display: flex;    flex-direction: column;
    align-items: center;
    min-height: 480px;
    min-width: 463px;
    height: fit-content;
}
.slider_base {
    margin-top: -60px;
}
.PIC {
    padding: 50px;
}
.pagination1 {
    display: flex;
    background-color: var(--base);
}
.pagination1 button {
    height: 25px;
    background-color: var(--bge);

    border: 1px solid #004CFF;
    border-width: 1px;
    border-radius: 9px;
}
.pagination1 * {
    display: flex;
    margin-bottom: 10px;
    margin-top: 4px;
    justify-content: center;
}

.Decription {
    grid-area: 2 / 3 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 80px;
    text-align: center;
    justify-content: space-between;
}

.Info {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    
    justify-content: center;     
    flex-direction: column;
    gap: 10px;
}
.Info *{
    
    width: fit-content;
}
.prodInfo *{
font-size: 25px;
font-weight: 800;
}
.decriptionBtn{
        height: 27px;
    background-color: var(--bge);

    border: 1px solid #004CFF;
    border-width: 1px;
    border-radius: 9px;
}