:root {
  --base: #ffffff;
  --contr_base: #000000;
  --bge: #ffffff;
  --accent_text: #27272A;
}

[data-theme='dark'] {
  --base: #000;
  --bge:  #013dca;
  --contr_base: #fff;
  --accent_text: #fff;
}

button{
  border-width: none;
  border: none;
  border-color: none;
}

* {
  font-family: 'OpenSans';
  transition: .5s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{

background-color: var(--base);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}